/* fonts */

@font-face {
    font-family: "Roboto";
    src: url("../fonts/roboto/Roboto-Light.ttf");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/roboto/Roboto-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/roboto/Roboto-Medium.ttf");
    font-weight: 500;
    font-style: normal;
}

body {
    background-color: #f2f3f5;
    padding: 0;
    font-style: normal;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.42857143;
    font-family: "Roboto";
    color: #3b3b3b;
    /* color: #797979; */
}

.wrapper {
    margin: 95px 99px;
    box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0.2), 0 0px 30px 0 #cac8c8, 0 0px 3px 0 #eff4f8;
    border-radius: 10px;
}

header {
    width: 100%;
    background-color: #ececec;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

header .title {
    width: 45%;
    border-top-left-radius: 10px;
    border-bottom: 2px solid #f5f5f5;
    padding: 30px 0px 13px 55px;
    margin: 25px 0px 0px 0px;
}

header .title h1 {
    font-weight: 300;
    font-size: 45px;
    margin: 0px;
}

.header-content,
.header-content ul {
    display: flex;
    flex-direction: row;
}

nav.nav-items {
    width: 100%;
    margin-left: auto;
    background-color: #ffff;
    border-top-right-radius: 10px;
    border-bottom: 2px solid #f6f6f6;
}

nav.nav-items ul {
    list-style-type: none;
    text-transform: uppercase;
    padding: 0;
    justify-content: space-around;
    width: 60%;
    margin: 25px auto 0px auto;
}

li.inactive,
li.inactive a {
    color: #bec3c8;
    text-transform: uppercase;
}

nav.nav-items ul li {
    padding: 54px 0px 20px 0px;
}

li.active {
    bottom: -3px;
    position: relative;
    font-weight: 400;
}

li.active:after {
    position: absolute;
    content: "";
    border-bottom: 3px solid #525252;
    width: 85%;
    transform: translateX(-50%);
    bottom: -1px;
    left: 50%;
}

li.active a {
    color: #505050;
}

li .material-icons {
    bottom: -6px;
    position: relative;
}

a {
    text-decoration: none;
    font-size: 16px;
}

main {
    display: flex;
    flex-direction: row;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.shop-item {
    width: 45%;
    padding: 30px 0px 20px 55px;
    background-color: #ececec;
    border-bottom-left-radius: 10px;
}

.shop-item h2 {
    font-size: 23px;
    font-weight: 500;
    margin-top: 32px;
    margin-bottom: 12px;
}

.shop-item .items {
    z-index: 10;
    position: relative;
    display: flex;
    flex-direction: column;
}

.count {
    font-size: 13px;
    font-weight: 500;
    color: #8d9196;
    display: flex;
    flex-direction: row;
    margin-bottom: 16px;
}

.count .material-icons {
    font-size: 16px;
}

.count p {
    margin: 0px 15px;
}

p.amount {
    color: #5b5b5b;
    font-weight: 400;
    font-size: 30px;
}

p .currency {
    color: #5b5b5b;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
}

p {
    margin: 0px;
}

figure {
    margin: 0px;
    margin-top: -95px;
    max-width: 30px;
    position: relative;
    left: -50px;
}

@media screen and (min-width: 1677px) {
    figure {
        top: 20px;
        left: 85px;
    }
}

@media screen and (min-width: 1600px) and (max-width: 1676px) {
    figure {
        left: 22px;
    }
}

@media screen and (min-width: 1450px) and (max-width: 1599px) {
    figure {
        left: 0px;
    }
}

.payout {
    width: 100%;
    margin-left: auto;
    background-color: #ffff;
    border-bottom-right-radius: 10px;
}

.payout .container {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.payout h3 {
    font-size: 23px;
    font-weight: 500;
    margin-top: 63px;
    margin-bottom: 47px;
}

.card {
    display: flex;
    flex-direction: row;
    height: 33px;
    background-color: #fff;
    border-radius: 5px;
    padding: 25px 35px;
    margin-bottom: 24px;
    box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0.2), 0 0px 8px 0 rgba(0, 0, 0, 0.14), 0 3px 8px 0 rgba(0, 0, 0, 0.12);
}

.card:hover {
    cursor: pointer;
}

.card:not(.active) {
    border-color: #f3f6fa;
    box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0.2), 0 0px 0px 0 #eff4f8, 0 0px 3px 0 #eff4f8;
}

.card input {
    opacity: 0;
    width: 0;
    height: 0;
}

.card.active .radio__control {
    margin-top: 5px;
    display: block;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    border: 0.1em solid currentColor;
}

.card.active input:checked+.radio__control {
    background: radial-gradient(currentcolor 50%, rgba(255, 0, 0, 0) 51%);
}

label img {
    width: 53px;
    height: 35px;
}

label.icon {
    margin: 0px 30px;
}

.card .description {
    display: flex;
    flex-direction: column;
    margin-top: -4px;
}

.card .description .name {
    font-size: 16px;
    font-weight: 500;
}

.card .description .information {
    font-size: 11px;
    color: #c9ced2;
    margin-top: 5px;
}

.action {
    margin: 30px 0px 0px auto;
    padding: 20px 0px;
}

.pay {
    cursor: pointer;
    font-size: 18px;
    padding: 12px 54px;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    width: 215px;
    height: 48px;
    color: #d3d3d3;
    background-color: #3b3b3b;
    border-radius: 26px;
    border-style: none;
}

.pay:hover {
    opacity: 1;
    background-color: #595853;
}

.pay:focus {
    outline: none;
}

.pay img {
    width: 18px;
    margin-left: 10px;
    margin-top: 2px;
}

@media screen and (max-width: 1238px) {
    label.icon {
        margin: 0px 18px;
    }
}

@media screen and (max-width: 1172px) {
    .header-content {
        flex-direction: column;
    }
    header {
        border-top-right-radius: 10px;
    }
    header .title {
        border-top-right-radius: 10px;
        width: unset;
    }
    nav.nav-items {
        border-top-right-radius: unset;
    }
    nav.nav-items ul {
        list-style-type: none;
        text-transform: uppercase;
        padding: 0;
        justify-content: left;
        width: 100%;
        margin: 25px auto 0px 55px;
    }
    nav.nav-items ul li {
        width: 300px;
        margin-right: 20px;
    }
    li.active:after {
        left: 17%;
        width: 30%;
    }
    main {
        flex-direction: column;
    }
    .shop-item {
        width: unset;
    }
    .payout .container {
        width: 80%;
        margin-left: 55px;
        margin-right: auto;
    }
}

@media screen and (max-width: 700px) {
    nav.nav-items ul {
        flex-direction: column;
    }
    nav.nav-items ul li {
        width: 300px;
        margin-right: 20px;
    }
    li.active:after {
        left: 12s%;
        width: 20%;
    }
    .card {
        flex-wrap: wrap;
        height: unset;
    }
}