/* fonts */

@font-face {
    font-family: "Roboto";
    src: url("../fonts/roboto/Roboto-Light.ttf");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/roboto/Roboto-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/roboto/Roboto-Medium.ttf");
    font-weight: 500;
    font-style: normal;
}

body {
    background-color: #f2f3f5;
    padding: 0;
    font-style: normal;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.42857143;
    font-family: "Roboto";
    color: #797979;
}

.wrapper {
    margin: 132px 99px;
    box-shadow: 0 8px 40px rgba(27, 20, 67, 0.1);
    border-radius: 10px;
}

header {
    width: 100%;
    background-color: #ececec;
    border-top-left-radius: 10px;
}

header .title {
    width: 40%;
    border-top-left-radius: 10px;
    border-bottom: 2px solid #f5f5f5;
    padding: 30px 0px 20px 55px;
    margin: 25px 0px 0px 0px;
}

header .title h1 {
    font-weight: 300;
    margin: 0px;
}

.header-content,
.header-content ul {
    display: flex;
    flex-direction: row;
}

nav.nav-items {
    width: 100%;
    margin-left: auto;
    background-color: #ffff;
    border-top-right-radius: 10px;
    border-bottom: 2px solid #f6f6f6;
}

nav.nav-items ul {
    list-style-type: none;
    text-transform: uppercase;
    padding: 0;
    justify-content: space-around;
    width: 60%;
    margin: 25px auto 0px auto;
}

li.inactive,
li.inactive a {
    color: #bec3c8;
    text-transform: uppercase;
}

nav.nav-items ul li {
    padding: 54px 0px 20px 0px;
}

li.active {
    bottom: -3px;
    position: relative;
    font-weight: 400;
}

li.active:after {
    position: absolute;
    content: "";
    border-bottom: 3px solid #525252;
    width: 50%;
    transform: translateX(-50%);
    bottom: -1px;
    left: 50%;
}

li.active a {
    color: #505050;
}

li .material-icons {
    bottom: -6px;
    position: relative;
}

a {
    text-decoration: none;
    font-size: 16px;
}

main {
    display: flex;
    flex-direction: row;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.shop-item {
    width: 40%;
    padding: 30px 0px 20px 55px;
    background-color: #ececec;
    border-bottom-left-radius: 10px;
}

.shop-item h2 {
    font-size: 20px;
    margin-top: 32px;
    margin-bottom: 12px;
}

.shop-item .items {
    display: flex;
    flex-direction: column;
}

.count {
    font-size: 13px;
    font-weight: 500;
    color: #8d9196;
    display: flex;
    flex-direction: row;
    margin-bottom: 16px;
}

.count .material-icons {
    font-size: 16px;
}

.count p {
    margin: 0px 15px;
}

p.amount {
    color: #5b5b5b;
    font-weight: 400;
    font-size: 30px;
}

p .currency {
    color: #5b5b5b;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
}

p {
    margin: 0px;
}

figure {
    margin: 0px;
    margin-top: -95px;
    max-width: 30px;
    position: relative;
    left: -50px;
}

@media (max-width: 1680) {
    figure {
        position: relative;
    }
}

.payout {
    width: 100%;
    margin-left: auto;
    background-color: #ffff;
    border-bottom-right-radius: 10px;
}

.payout .container {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.payout h3 {
    margin-top: 63px;
    font-size: 20px;
    margin-bottom: 47px;
}

.card {
    display: flex;
    flex-direction: row;
    height: 33px;
    background-color: #fff;
    border-radius: 10px;
    padding: 25px 35px;
    margin-bottom: 17px;
    box-shadow: 0 1px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.card:not(.active) {
    border-color: #f8fafc;
    box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.14), 0 0px 3px 0 rgba(0, 0, 0, 0.12);
}

.card input[type="radio"] {
    display: none;
}

.card input[type="radio"]+*::before {
    content: "";
    display: inline-block;
    width: 1rem;
    height: 1rem;
    margin-bottom: 9px;
    margin-left: -40px;
    margin-right: 28px;
    border-radius: 50%;
    border-style: solid;
    border-width: 0.15rem;
    border-color: #3b3b3b;
}

.card input:not(.active)[type="radio"]+*::before {
    border-color: #a4abb2;
}

.card input[type="radio"]:checked+*::before {
    background: radial-gradient( #3b3b3b 0%, #3b3b3b 40%, transparent 50%, transparent);
    border-color: #3b3b3b;
}

.card input[type="radio"]:checked+* {
    color: #3b3b3b;
}

label img {
    width: 53px;
    height: 35px;
}

label.icon {
    margin: 0px 30px;
}

.card .description {
    display: flex;
    flex-direction: column;
    margin-top: -4px;
}

.card .description .name {
    font-size: 16px;
    font-weight: 500;
}

.card .description .information {
    font-size: 11px;
    color: #c9ced2;
    margin-top: 5px;
}

.action {
    margin: 30px 0px 0px auto;
    padding: 20px 0px;
}

.pay {
    padding: 7px 36px;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    width: 160px;
    height: 37px;
    color: #d3d3d3;
    background-color: #3b3b3b;
    border-radius: 20px;
    border-color: #3b3b3b;
    box-shadow: 0 1px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 12px 10px 0 rgba(0, 0, 0, 0.12);
}

.pay img {
    width: 20px;
    margin-left: 10px;
    margin-top: -2px;
}

@media screen and (max-width: 1238px) {
    label.icon {
        margin: 0px 18px;
    }
}

@media screen and (max-width: 1172px) {
    .header-content {
        flex-direction: column;
    }
    header {
        border-top-right-radius: 10px;
    }
    header .title {
        border-top-right-radius: 10px;
        width: unset;
    }
    nav.nav-items {
        border-top-right-radius: unset;
    }
    nav.nav-items ul {
        list-style-type: none;
        text-transform: uppercase;
        padding: 0;
        justify-content: left;
        width: 100%;
        margin: 25px auto 0px 55px;
    }
    nav.nav-items ul li {
        width: 300px;
        margin-right: 20px;
    }
    li.active:after {
        left: 15%;
        width: 20%;
    }
    main {
        flex-direction: column;
    }
    .shop-item {
        width: unset;
    }
    .payout .container {
        width: 80%;
        margin-left: 55px;
        margin-right: auto;
    }
}

@media screen and (max-width: 700px) {
    nav.nav-items ul {
        flex-direction: column;
    }
    nav.nav-items ul li {
        width: 300px;
        margin-right: 20px;
    }
    li.active:after {
        left: 10%;
        width: 15%;
    }
    .card {
        flex-wrap: wrap;
        height: unset;
    }
}